<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre CodeFoods</title>
</head>
<body>

    <h1> CodeFoods </h1>
    <h3>
        O melhor site de comida dessa região
    </h3>

    <div>
        <h5>
            Descrição
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sed neque ea necessitatibus eaque inventore veniam, similique quas odio 
            accusantium exercitationem quasi, recusandae facere, i
            mpedit deleniti libero debitis sequi rem id!
        </p>
    </div>

</body>
</html>